<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juhyang.hospital">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ManagerMenu"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".PrimaryMenu"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".M_Purchase"
            android:label="@string/title_activity_m__purchase" />
        <activity
            android:name=".M_InventoryStatus"
            android:label="@string/title_activity_m__inventory_status" />
        <activity
            android:name=".M_StockOut"
            android:label="@string/title_activity_m__stock_out" />
        <activity
            android:name=".P_Used"
            android:label="@string/title_activity_p__used" />
        <activity
            android:name=".P_Request"
            android:label="@string/title_activity_p__request"></activity>
    </application>

</manifest>