<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juhyang.hospital">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ManagerMenu"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".PrimaryMenu"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".M_Purchase"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".M_InventoryStatus"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".M_StockOut"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".P_Used"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".P_Request"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".M_Purchase2"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".M_stock_request"
            android:label="@string/title_activity_m_stock_request" />
        <activity
            android:name=".M_stock_MAP"
            android:label="@string/title_activity_m_stock__map" />
        <activity
            android:name=".M_camera"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_m_camera"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".P_camera"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_p_camera"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".P_sick_DB"
            android:label="@string/title_activity_p_sick__db" />
        <activity
            android:name=".P_Purchase"
            android:label="@string/title_activity_p__purchase" />
        <activity
            android:name=".P_my_request_list"
            android:label="@string/title_activity_p_my_request_list"></activity>
    </application>

</manifest>